#chat-page .chat-me .am-list-extra{
  flex-basis: auto
}
#chat-page .chat-me .am-list-content{
  padding-right:15px;
  text-align: right
}
.stick-footer{
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#chat-page .am-grid-icon{
  display: none
}
#chat-page .am-grid-text{
  margin-top: 0;
}